[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
heartbeat_token = "GzBD2KfG6aSTbxiN9kTMHowLygMSj1E5iZYMuMTR1exe"

[programs.devnet]
heartbeat_token = "GzBD2KfG6aSTbxiN9kTMHowLygMSj1E5iZYMuMTR1exe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
